# Great Reference : https://help.github.com/en/articles/dealing-with-line-endings

# Declare files that will always have lf line endings on checkout.
#*.sh text eol=lf
CODEOWNERS export-ignore
.gitattributes export-ignore
.gitignore export-ignore
