<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
    <preference for="Magento\Framework\App\Response\HeaderProvider\XFrameOptions" type="Punchout2go\Xframe\App\Response\HeaderProvider\XFrameOptions" />-->
    <type name="Magento\Framework\App\Response\HeaderManager">
        <arguments>
            <argument name="headerProviderList" xsi:type="array">
                <item name="x-frame-options" xsi:type="object">Punchout2Go\Xframe\App\Response\HeaderProvider\XFrameOptions</item>
            </argument>
        </arguments>
    </type>
    <type name="Punchout2Go\Xframe\App\Response\HeaderProvider\XFrameOptions">
        <arguments>
            <argument name="dataHeler" xsi:type="object">Punchout2Go\Xframe\Helper\Data</argument>
        </arguments>
    </type>
 </config>
